{% extends "enter.html" %}
{% block content %}
<div class="content" >
    <div class="row">
        <div id="real" style="padding: 30px;   display: block;
                margin-left: auto;
                margin-right: auto;">
            <div class="wrap card" >
                <section class="app-content">
                    <div>
                        <span>Мы отправили вам по электронной почте инструкции по настройке пароля.
                            Если они не прибыли через несколько минут, проверьте папку со спамом.</span>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}