{% extends "enter.html" %}
{% block content %}



<div class="content" >
    <div class="row">
        <div id="real" style="padding: 30px;   display: block;
                margin-left: auto;
                margin-right: auto;
min-width:400px;
max-width:400px;">
            <div class="wrap card" >
                <section class="app-content">
                    <div class="text-center">
                        <h1>Восстановление доступа</h1>
                    </div>
                    <br>
                    <div>
                       <form action="" method="post">{% csrf_token %}
                            <input type="text" class="form-control" name="{{form.email.name}}" placeholder="Введите email для сборса"><br>
                            <input type="submit" class="form-control btn mw-md btn-info btn-lg " value="Сброс пароля" /><br>
                        </form>

                        {% if form.email.errors %}
                        <div class="alert alert-warning alert-dismissible" role="alert" style="margin-top:20px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ form.email.errors }}
                        </div>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}