    <!-- start content head -->
    <div class="head" >
      <!-- head top -->
      <div class="top">
        <div class="left">
          <button id="on" class="btn btn-info"><i class="fa fa-bars"></i></button>
          <button id="off" class="btn btn-info hide"><i class="fa fa-align-left"></i></button>
          <button class="btn btn-info hidden-xs-down hidden"><i class="fa fa-expand-arrows-alt"></i></button>
        </div>
        <div class="right">
          <button class="btn btn-info hidden-xs-down hidden"><i class="fa fa-bell"></i></button>
          <button class="btn btn-info hidden-xs-down hidden"><i class="fa fa-envelope"></i></button>
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</button>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Профиль</a>
                <a class="dropdown-item" href="#">Настройки</a>

                {%if request.user.is_superuser%}
                    <a class="dropdown-item" href="{%url 'admin:index' %}">Админ. панель</a>
                {%endif%}
                <a class="dropdown-item" href="{%url 'logout'%}">Выход</a>

           </div>
          </div>
        </div>
      </div>
      <!-- end head top -->
        {% if page_settings %}
      <!-- start head bottom -->
      <div class="bottom">
        <div class="left">
          <span>{{page_settings.breadcrumb | safe}}</span>
        </div>
        <div class="right">
        </div>
      </div>
      <!-- end head bottom -->
        {%endif%}
    </div>

    <!-- end content head -->