<!-- start the list -->
    <div id="list">
      <ul class="nav flex-column">
        <li class="nav-item"><a href="{%url 'accounts:mkblog'%}" class="nav-link active" ><i class="fa fa-adjust"></i>Home</a></li>
        <!-- end user interface submenu -->
        <!-- start with charts -->

        <!-- <li class="nav-item">
            <a href="#tools" class="nav-link collapsed" data-toggle="collapse">
                <i class="fa fa-fire"></i>Инструменты<span class="sub-ico"><i class="fa fa-angle-down"></i></span>
            </a>
        </li>
        start charts submenue
        <li class="sub collapse show" id="tools">
            <a href="" class="nav-link" data-parent="#tools">Прямые трансляции</a><br>
            <a href="" class="nav-link" data-parent="#get_wall">Собрать посты</a><br>
        </li>
          <li class="nav-item"><a href="" class="nav-link active"><i class="fa fa-inbox"></i>Мои задачи</a></li>-->

        <!-- end with charts
        <li class="nav-item"><a href="inbox.html" class="nav-link"><i class="fa fa-inbox"></i>inbox</a></li>
        <li class="nav-item"><a href="contacts.html" class="nav-link"><i class="fa fa-user"></i>contact</a></li>
        <li class="nav-item"><a href="forms.html" class="nav-link"><i class="fa fa-edit"></i>forms</a></li>
        <li class="nav-item"><a href="tabels.html" class="nav-link"><i class="fa fa-table"></i>tables</a></li>
        <li class="nav-item"><a href="profile.html" class="nav-link"><i class="fa fa-users"></i>profile</a></li>
        <li class="nav-item"><a href="invoice.html" class="nav-link"><i class="fa fa-money-bill-alt"></i>invoice</a></li>
        <li class="nav-item"><a href="price.html" class="nav-link"><i class="fa fa-dollar-sign"></i>price</a></li>
        <li class="nav-item"><a href="support.html" class="nav-link"><i class="fa fa-life-ring"></i>support</a></li>
            end the list -->
      </ul>
    </div>
